<div  class="large-9 medium-9 columns">
  <input type="text" id="todoInput" value="" placeholder="Add a todo item"/>
</div>
<div  class="large-3 medium-3 columns">
    <input type="button" class="submit button tiny" id="addButton" value="search" />
</div>
